In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("airline_data.csv")
df.dropna(inplace=True)

df.head()

,iata_code,airline_name,region,functional_currency,ebit_usd,load_factor,low_cost_carrier,airline_age,num_routes,passenger_yield,ask,avg_fleet_age,fleet_size,aircraft_utilisation
4,AD,Azul Brazilian Airlines,Latin America,BRL,5.968403e+08,0.804,Y,15.0,160.0,0.101,4.400600e+10,7.4,183.0,10.00
7,G3,GOL,Latin America,BRL,6.550507e+08,0.840,Y,23.0,77.0,0.088,1.073200e+10,10.7,141.0,11.70
17,FR,Ryanair,Europe,EUR,1.592200e+09,0.930,Y,40.0,228.0,0.057,2.220000e+11,9.0,537.0,9.10
19,BA,British Airways,Europe,GBP,1.821880e+09,0.836,N,50.0,200.0,0.115,1.676950e+11,13.0,284.0,10.03
22,W6,Wizz Air,Europe,EUR,-4.855000e+08,0.878,Y,21.0,1057.0,0.047,9.777909e+10,4.6,179.0,11.10

In [3]:
fig1 = px.bar(df,x="airline_name", y='ebit_usd',
              title="EBIT(USD) by Airline",
              color='region',
              text='ebit_usd')
fig1.update_traces(texttemplate='%{text:.2s}',textposition='outside')
fig1.update_layout(yaxis_title='EBIT(USD)',xaxis_title='Airline')
fig1.show(renderer='iframe')