In [2]:
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd

walmart_stores = pd.read_csv("1962_2006_walmart_store_openings.csv",parse_dates=['date_super']).dropna
walmart_stores

/var/folders/vl/z6gfc_1s4mbd9k5knjb6qm1c0000gn/T/ipykernel_39891/2629096730.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  walmart_stores = pd.read_csv("1962_2006_walmart_store_openings.csv",parse_dates=['date_super']).dropna

<bound method DataFrame.dropna of       storenum OPENDATE date_super  conversion  st  county  \
0            1   7/1/62 1997-03-01         1.0   5       7
1            2   8/1/64 1996-03-01         1.0   5       9
2            4   8/1/65 2002-03-01         1.0   5       7
3            8  10/1/67 1993-03-01         1.0   5      29
4            7  10/1/67        NaT         NaN   5     119
...        ...      ...        ...         ...  ..     ...
2987      5403  1/27/06 2006-01-27         0.0  17      19
2988      3347  1/23/06 2006-01-23         0.0  12     105
2989      5485  1/27/06        NaT         NaN  17      31
2990      3425  1/27/06 2006-01-27         0.0  48     201
2991      5193  1/31/06        NaT         NaN   6      65

                     STREETADDR            STRCITY STRSTATE  ZIPCODE  \
0              2110 WEST WALNUT             Rogers       AR    72756
1              1417 HWY 62/65 N           Harrison       AR    72601
2             2901 HWY 412 EAST     Siloam Springs       AR    72761
3         1621 NORTH BUSINESS 9          Morrilton       AR    72110
4        3801 CAMP ROBINSON RD.  North Little Rock       AR    72118
...                         ...                ...      ...      ...
2987        100 S High Cross Rd             Urbana       IL    61802
2988  7450 Cypress Gardens Blvd       Winter Haven       FL    33884
2989             2500 W 95th St     Evergreen Park       IL    60805
2990            9598 Rowlett Rd            Houston       TX    77034
2991      12721 Moreno Beach Dr      Moreno Valley       CA    92555

       type_store        LAT        LON  MONTH  DAY  YEAR
0     Supercenter  36.342235  -94.07141      7    1  1962
1     Supercenter  36.236984  -93.09345      8    1  1964
2     Supercenter  36.179905  -94.50208      8    1  1965
3     Supercenter  35.156491  -92.75858     10    1  1967
4        Wal-Mart  34.813269  -92.30229     10    1  1967
...           ...        ...        ...    ...  ...   ...
2987  Supercenter  40.121648  -88.17649      1   27  2006
2988  Supercenter  27.997387  -81.68256      1   23  2006
2989     Wal-Mart  41.719933  -87.70249      1   27  2006
2990  Supercenter  29.636430  -95.21789      1   27  2006
2991     Wal-Mart  33.922823 -117.16837      1   31  2006

[2992 rows x 16 columns]>

In [3]:
walmart_stores = pd.read_csv('1962_2006_walmart_store_openings.csv',
                   parse_dates=['date_super']).dropna()
walmart_stores

/var/folders/vl/z6gfc_1s4mbd9k5knjb6qm1c0000gn/T/ipykernel_39891/843469491.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  walmart_stores = pd.read_csv('1962_2006_walmart_store_openings.csv',

,storenum,OPENDATE,date_super,conversion,st,county,STREETADDR,STRCITY,STRSTATE,ZIPCODE,type_store,LAT,LON,MONTH,DAY,YEAR
0,1,7/1/62,1997-03-01,1.0,5,7,2110 WEST WALNUT,Rogers,AR,72756,Supercenter,36.342235,-94.07141,7,1,1962
1,2,8/1/64,1996-03-01,1.0,5,9,1417 HWY 62/65 N,Harrison,AR,72601,Supercenter,36.236984,-93.09345,8,1,1964
2,4,8/1/65,2002-03-01,1.0,5,7,2901 HWY 412 EAST,Siloam Springs,AR,72761,Supercenter,36.179905,-94.50208,8,1,1965
3,8,10/1/67,1993-03-01,1.0,5,29,1621 NORTH BUSINESS 9,Morrilton,AR,72110,Supercenter,35.156491,-92.75858,10,1,1967
5,10,7/1/68,1998-03-01,1.0,40,21,2020 SOUTH MUSKOGEE,Tahlequah,OK,74464,Supercenter,35.923658,-94.97185,7,1,1968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2985,5346,1/23/06,2006-01-23,0.0,37,1,1318 Mebane Oaks Rd,Mebane,NC,27302,Supercenter,36.111449,-79.27142,1,23,2006
2986,5313,1/23/06,2006-01-23,0.0,29,183,6100 Ronald Reagan Blvd,Lake Saint Louis,MO,63367,Supercenter,38.796601,-90.78525,1,23,2006
2987,5403,1/27/06,2006-01-27,0.0,17,19,100 S High Cross Rd,Urbana,IL,61802,Supercenter,40.121648,-88.17649,1,27,2006
2988,3347,1/23/06,2006-01-23,0.0,12,105,7450 Cypress Gardens Blvd,Winter Haven,FL,33884,Supercenter,27.997387,-81.68256,1,23,2006
2990,3425,1/27/06,2006-01-27,0.0,48,201,9598 Rowlett Rd,Houston,TX,77034,Supercenter,29.636430,-95.21789,1,27,2006

In [4]:
walmart_store_count = walmart_stores.groupby("YEAR")[["storenum"]].agg("count")\
                        .rename(columns={"storenum": "store_count"})
walmart_store_count

      store_count
YEAR
1962            1
1964            1
1965            1
1967            1
1968            5
1969            4
1970            4
1971           14
1972           13
1973           14
1974           20
1975           14
1976           17
1977           29
1978           24
1979           37
1980           33
1981          117
1982           42
1983           65
1984           79
1985           80
1986           90
1987           92
1988           82
1989           86
1990          106
1991           71
1992           60
1993           52
1994           36
1995           46
1996           19
1997           26
1998           33
1999           47
2000           78
2001           69
2002           65
2003           63
2004           90
2005           87
2006           33