In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("airports.csv")
dataset.head()

,AirportName,IATA,ICAO,TimeZone,City_Name,City_IATA,UTC_Offset_Hours,UTC_Offset_Seconds,Country_CodeA2,Country_CodeA3,Country_Name,GeoPointLat,GeoPointLong
0,Pilanesberg Intl,NTY,FAPN,Africa/Johannesburg,Sun City,NTY,2.0,7200.0,ZA,ZAF,South Africa,-25.333822,27.173358
1,Clovis Muni,CVN,KCVN,America/Denver,"Clovis, New Mexico",CVN,-6.0,-21600.0,US,USA,United States of America,34.425139,-103.079278
2,Cannon Afb,CVS,KCVS,America/Denver,"Clovis, New Mexico",CVN,-6.0,-21600.0,US,USA,United States of America,34.382775,-103.322147
3,Scammon Bay Airport,SCM,PACM,America/Nome,"Scammon Bay, Alaska",SCM,-8.0,-28800.0,US,USA,United States of America,61.845278,-165.571389
4,Kapit,KPI,NaN,Asia/Kuching,Kapit,KPI,8.0,28800.0,MY,MYS,Malaysia,2.017000,112.950000

In [3]:
dataset.isnull().sum()

AirportName              0
IATA                    20
ICAO                  1302
TimeZone                88
City_Name                0
City_IATA               62
UTC_Offset_Hours        88
UTC_Offset_Seconds      88
Country_CodeA2          14
Country_CodeA3           0
Country_Name             0
GeoPointLat              0
GeoPointLong             0
dtype: int64

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6393 entries, 0 to 6392
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AirportName         6393 non-null   object
 1   IATA                6373 non-null   object
 2   ICAO                5091 non-null   object
 3   TimeZone            6305 non-null   object
 4   City_Name           6393 non-null   object
 5   City_IATA           6331 non-null   object
 6   UTC_Offset_Hours    6305 non-null   float64
 7   UTC_Offset_Seconds  6305 non-null   float64
 8   Country_CodeA2      6379 non-null   object
 9   Country_CodeA3      6393 non-null   object
 10  Country_Name        6393 non-null   object
 11  GeoPointLat         6393 non-null   float64
 12  GeoPointLong        6393 non-null   float64
dtypes: float64(4), object(9)
memory usage: 649.4+ KB

In [5]:
airports_map = ["AirportName","City_Name","Country_Name","TimeZone","GeoPointLat","GeoPointLong"]
airports_map_clean = dataset.dropna(subset = airports_map).copy()
print(airports_map_clean.shape)

(6305, 13)